In [1]:
import pandas as pd

# Stat Growth:

In [5]:
stat_growth = pd.read_csv('stat_growth.csv')
stat_growth.head(3)

     Name  HP  Build  Strike  Mag  Dex  Speed  DEF  RES  Luck
0   Alear  60      5      35   20   45     50   40   25    25
1  Vander  60      5      25   10   25     35   35   20    10
2  Clanne  40      5      35   10   40     50   30   25    20